<%= simple_form_for(@crew) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :car_number %>
    <%= f.input :driver_name %>
    <%= f.input :phone_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
