<%= simple_form_for @appointment, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :customer_id %>

  <%= f.input :package_id %>

  <%= f.input :appointment_date %>

  <%= f.input :appointment_time %>

  <%= f.input :number_of_cars %>

  <%= f.input :location %>

  <%= f.input :location_type %>

  <%= f.input :gender_of_customer %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                appointments_path, :class => 'btn' %>
  </div>

<% end %>
