<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th>Customer ID</th>
      <th>Package ID</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Location</th>
      <th>Location Type</th>
      <th>Number of Cars</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
      	<td><%= appointment.id %></td>
        <td><%= appointment.customer.first_name %></td>
        <td><%= appointment.package.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.appointment_time %></td>
        <td><%= appointment.location %></td>
        <td><%= appointment.location_type %></td>
        <td><%= appointment.number_of_cars %></td>
        <td><%= appointment.gender_of_customer %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
